@using Capstone.Web.Models;
@model List<Survey>
@{
    ViewBag.Title = "SurveyResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SurveyResults</h2>
<table>
    <tr>
        <th width="25%">Favorite Park</th>
        <th width="25%">Email Address</th>
        <th width="25%">Home State</th>
        <th width="25%">Activity Level</th>
    </tr>
    @foreach (Survey s in Model)
    {

        <tr>
            <td>@s.ParkName</td>
            <td>@s.EmailAddress</td>
            <td>@s.State</td>
            <td>@s.ActivityLevel</td>
        </tr>

    }
</table>
